.story-list {
  padding-top: 100px !important; /* Bù chiều cao NavBar */
}
.pagination {
  margin-top: 20px;
  text-align: center;
}
.pagination .btn {
  margin: 0 5px;
}
.form-control {
  margin-bottom: 20px;
}